/*Start main rules */

.container {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* End Main Rules */

/* start header */
.header .slider {
  background-color: #eee;
  background-image: url("../images/images.png");
  background-size: cover;
  height: 600px;
}
.header .slider .intro {
  margin-top: 200px;
  color: #fff;
  text-align: center;
}
.header .slider .intro h2 {
  margin: auto;
  width: 600px;
  font-size: 40px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 5px 0;
  text-transform: uppercase;
}
.header .slider .intro button {
  margin-top: 40px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px;
  background: none;
  color: white;
  border: 2px solid #fff;
  font-weight: bold;
}

.header .slider,
.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
}
.header .navbar h2 {
  text-transform: uppercase;
  float: left;
}

.header .navbar h2 span {
  color: #1aa262;
}

.header .navbar ul {
  list-style: none;
  float: right;
  padding-left: 0;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover {
  color: #30b576;
}

/* End Header */

/* start Features */
.features {
  background-color: white;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.features .feat {
  float: left;
  width: 33.3333%;
  height: 150px;
  background: #ddd;
}
.features .feat h2 {
  text-transform: uppercase;
}
/* End Features */
/* start about me */
.about-me {
  overflow: hidden;
  background-color: #f2f2f2;
}

.about-me .image {
  width: 40%;
  float: left;
}
.about-me .image img {
  width: 100%;
}
.about-me .info {
  float: left;
  width: 60%;
}
.about-me .info .hobbies {
  margin: 20px;
  overflow: hidden;
}
.about-me .info .hobbies > div {
  width: 50%;
  float: left;
  min-height: 100px;
}
/* End about me */
/* start Skills */
.my-skills {
  /* padding: 30px 0 30px 0; */
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.my-skills .skills,
.my-skills .progress {
  width: 50%;
  float: left;
}
/* End skills */
/* start resume */
.resume {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  text-align: center;
  background-color: #f2f2f2;
}
/* end resume */
/* start education */
.education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.education .main,
.education .exp {
  width: 50%;
  float: left;
}
/* end education */
/* start testimonials */
.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  text-align: center;
  background-color: #f2f2f2;
}
/* end testimonials */
/* start portfolio */
.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.portfolio .my-work {
  overflow: hidden;
}
.portfolio .my-work div {
  width: 33.3333%;
  float: left;
  margin-bottom: 10px;
}
.portfolio .my-work > div img {
  width: 92%;
  margin: 10px;
}
/* end portfolio */
/* start contact */
.contact {
  background-color: #252f31;
  overflow: hidden;
}
.contact .info h2 {
  color: #fff;
}
.contact p {
  color: #6a6e71;
}
.contact .info,
.contact .form {
  float: left;
  width: 50%;
}
/* end contact */
/* footer */
.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px 0;
  text-align: center;
}
