/*Start main rules */

.container {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* End Main Rules */

/* start header */
.header .slider {
  background-color: #eee;
  background-image: url("../images/images.png");
  background-size: cover;
  height: 600px;
}
.header .slider .intro {
  margin-top: 200px;
  color: #fff;
  text-align: center;
}
.header .slider .intro h2 {
  margin: auto;
  width: 600px;
  font-size: 40px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 5px 0;
  text-transform: uppercase;
}
.header .slider .intro button {
  margin-top: 40px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px;
  background: none;
  color: white;
  border: 2px solid #fff;
  font-weight: bold;
}

.header .slider,
.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
}
.header .navbar h2 {
  float: left;
}

.header .navbar h2 span {
  color: #1aa262;
}

.header .navbar ul {
  list-style: none;
  float: right;
  padding-left: 0;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover {
  color: #30b576;
}

/* End Header */

/* start Features */
.features {
  background-color: white;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features .feat {
  float: left;
  width: 33.3333%;
  height: 150px;
}
.features .feat h2 {
  color: #555;
}
.features .feat p {
  color: #444;
  line-height: 1.6;
  padding: 0 20px 0 0;
}
/* End Features */
/* start about me */
.about-me {
  overflow: hidden;
  background-color: #f2f2f2;
}

.about-me .image {
  width: 40%;
  float: left;
}
.about-me .image img {
  width: 100%;
}
.about-me .info {
  float: left;
  width: 60%;
}
.about-me .info h2 {
  margin: 20px 0 20px 20px;
  color: #555;
}
.about-me .info p {
  margin: 0 0 10px 40px;
  color: #666;
  line-height: 1.6;
}
.about-me .info > p:last-of-type {
  margin-top: 25px;
}

.about-me .info .hobbies {
  margin: 10px 0 0 40px;
  overflow: hidden;
}
.about-me .content {
  float: left;
  width: 50%;
  min-height: 100px;
  overflow: hidden;
}
.about-me .content .icon {
  float: left;
  width: 12%;
  margin-right: 5%;
}
.about-me .icon img {
  margin: 25px 10px 0 0;
  width: 100%;
}
.about-me .text {
  float: left;
  width: 83%;
}
.about-me .content .text p {
  margin-top: 0;
}
.about-me h3 {
  margin-bottom: 5px;
}
.about-me .info .hobbies > div {
  width: 50%;
  float: left;
  min-height: 100px;
}
/* End about me */
/* start Skills */
.my-skills {
  /* padding: 30px 0 30px 0; */
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
}

.my-skills h2 {
  margin: 25px 0 20px 40px;
  color: #555;
}
.my-skills p {
  margin: 0 0 10px 40px;
  color: #666;
  line-height: 1.6;
}
.my-skills p:last-of-type {
  margin-top: 25px;
}
.my-skills .skills,
.my-skills .progress {
  width: 50%;
  float: left;
}
.my-skills .skills button {
  background: none;
  color: #2dcc70;
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 30px;
  border: 3px solid #2dcc70;
  font-weight: bold;
}
.my-skills .progress .tools {
  margin-left: 50px;
}

.my-skills .progress .technique div {
  background-color: #f2f2f2;
  height: 25px;
}

.my-skills .progress .technique div span {
  background-color: #2dcc70;
  height: 25px;
  display: block;
  line-height: 25px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
/* End skills */
/* start resume */
.resume {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  text-align: center;
  background-color: #f2f2f2;
}
.resume h2 {
  color: #333;
}
.resume p {
  line-height: 1.7;
  color: #555;
  padding: 0 40px;
}
.resume button {
  margin-top: 15px;
  background: none;
  color: #2dcc70;
  border: 3px solid #2dcc70;
  padding: 10px 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
/* end resume */
/* Start My Education */

.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.my-education hr {
  margin: 20px 0;
  background-color: #999;
  height: 1px;
  border: 0;
}

.my-education .main {
  width: 50%;
  margin-right: 5%;
  float: left;
}

.my-education .main h2 {
  margin: 25px 0 20px 40px;
}

.my-education .main p {
  margin: 0 0 10px 40px;
}

.my-education .main p:last-of-type {
  margin-top: 25px;
}

.my-education .exp {
  width: 45%;
  float: left;
}

.my-education .exp h3 {
  margin-top: 80px;
  margin-bottom: 10px;
}

.my-education .exp span {
  display: block;
  margin-bottom: 10px;
}

.my-education .exp span:first-of-type {
  color: #999;
}

.my-education .exp span:last-of-type {
  background-color: #2dcc70;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
}

/* End My Education */

/* Start Testimonials */

.testimonials {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials q {
  color: #888;
  font: italic bold 18px/1.8 Arial, Tahoma;
}

.testimonials h3 {
  margin-bottom: 30px;
  text-align: center;
}

.testimonials ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.testimonials ul li {
  width: 15px;
  height: 15px;
  border: 2px solid #2dcc70;
  display: inline-block;
  cursor: pointer;
}

.testimonials ul li.active,
.testimonials ul li:hover {
  background-color: #2dcc70;
}

/* End Testimonials */

/* start portfolio */
.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.portfolio .my-work {
  overflow: hidden;
}
.portfolio .my-work div {
  width: 33.3333%;
  float: left;
  margin-bottom: 10px;
}
.portfolio .my-work > div img {
  width: 92%;
  margin: 10px;
}
/* end portfolio */
/* start contact */
.contact {
  background-color: #252f31;
  overflow: hidden;
}
.contact .info h2 {
  color: #fff;
}
.contact p {
  color: #6a6e71;
}
.contact .info,
.contact .form {
  float: left;
  width: 50%;
}
/* end contact */
/* footer */
.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px 0;
  text-align: center;
}
